<!DOCTYPE html>
<html>
<head>
    <title>Click Counter Game</title>
    <style>
        body {
            text-align: center;
            font-family: Arial;
            background: #111;
            color: white;
            margin-top: 100px;
        }
        button {
            padding: 100px;
            font-size: 100px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1>🎮 Click Counter Game</h1>
<h2>Score: {{ score }}</h2>

<form method="POST">
    <button type="submit">CLICK ME</button>
</form>

</body>
</html>
